/.bundle/
/.yardoc
/_yardoc/
/coverage/*
!/coverage/coverage_percent.txt
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status


demo/db/*.sqlite3
demo/log/**
demo/tmp/**/*
demo/*.byebug_history
demo/public/assets
demo/config/database.yml
