name: Code Climate Coverage

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CODECLIMATE_REPO_TOKEN: f7dc26d97d2d636e50bcb811728bdbc9956de60045a2ed68c74c82a0d70ae77a

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Run tests and coverage
        run: |
          bundle exec rspec --format progress
          CODECLIMATE_REPO_TOKEN=${{ env.CODECLIMATE_REPO_TOKEN }} bundle exec codeclimate-test-reporter
