name: Ruby
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
      CODECLIMATE_REPO_TOKEN: f7dc26d97d2d636e50bcb811728bdbc9956de60045a2ed68c74c82a0d70ae77a
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - "3.2.2"
    steps:
    - uses: actions/checkout@v3
    - name: Install prerequisites
      run: |
        sudo apt-get install -y libvips
        sudo apt-get install -yqq libpq-dev
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Set up database
      run: |
        bundle exec rake db:create
        bundle exec rake db:migrate
    - name: Run tests and coverage
      run: |
        bundle exec rspec
    # - name: Extract source file information
    #   run: |
    #     coverage_report=$(cat coverage_report.json)
    #     source_files=$(ruby -e 'require "json"; result = JSON.parse(ENV["coverage_report"]); source_files = result["files"].map { |file| { name: file["filename"], coverage: file["covered_percent"].to_i } }; puts source_files.to_json')
    #     echo "$source_files" > source_files.json
    # - name: Setup Code Climate test-reporter
    #   run: |
    #     curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    #     chmod +x ./cc-test-reporter
    #     ./cc-test-reporter before-build
    # - name: Build and test with RSpec
    #   run: |
    #     gem install bundler
    #     bundle install --jobs 4 --retry 3
    #     bundle exec rspec
    # - name: Publish code coverage
    #   run: |
    #     export GIT_BRANCH="${GITHUB_REF/refs\/heads\//}"
    #     ./cc-test-reporter after-build -r ${{env.CODECLIMATE_REPO_TOKEN}}
    - name: Code Coverage Summary
      with:
        filename: coverage/coverage.xml
        badge: true
        fail_below_min: false
        format: text
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: console
        thresholds: "60 80"
      uses: irongut/CodeCoverageSummary@v1.3.0
    # - name: Rubocop
    #   run: bundle exec rubocop --autocorrect
